# Python
__pycache__/
*.pyc
.venv/
*.egg-info/
dist/

# Environment
.env

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Project
.superpowers/
.claude
.agents

# FastF1 cache
.fastf1_cache/

